
@model ProjectTest1.ViewModels.ChangePassWordViewModel

@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-4 shadow" style="max-width: 500px; width: 100%; border-radius: 20px;">
        <h3 class="text-center fw-bold text-dark mb-3">🔐 Đổi mật khẩu</h3>

        @using (Html.BeginForm("changePassWord", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Email" class="form-label fw-semibold">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập email", @readonly = "readonly" })

                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger small" })
            </div>
            <!-- Mật khẩu hiện tại -->
            <div class="mb-3">
                <label asp-for="CurrentPassword" class="form-label fw-semibold">Mật khẩu hiện tại</label>
                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu cũ" })
                @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger small" })
            </div>

            <!-- Mật khẩu mới -->
            <div class="mb-3">
                <label asp-for="NewPassWord" class="form-label fw-semibold">Mật khẩu mới</label>
                @Html.PasswordFor(m => m.NewPassWord, new { @class = "form-control", placeholder = "Nhập mật khẩu mới" })
                @Html.ValidationMessageFor(m => m.NewPassWord, "", new { @class = "text-danger small" })
            </div>

            <!-- Xác nhận mật khẩu mới -->
            <div class="mb-4">
                <label asp-for="ComfirmPassWord" class="form-label fw-semibold">Xác nhận mật khẩu</label>
                @Html.PasswordFor(m => m.ComfirmPassWord, new { @class = "form-control", placeholder = "Nhập lại mật khẩu mới" })
                @Html.ValidationMessageFor(m => m.ComfirmPassWord, "", new { @class = "text-danger small" })
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger text-center mb-3" })

            <!-- Submit -->
            <button type="submit" class="btn btn-success w-100 fw-semibold">Đổi mật khẩu</button>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/Account.js"></script>
}